body {
	background-color: #282828;
}
body * {
	font-family: 'Roboto Mono', monospace;
	color: #98971a;
}
h1 {
	font-size: 40px;
	text-align: center;
}
.main-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 800px;
	width: 100%;
}
.puzzle-container {
	-moz-box-shadow:    inset 0 0 4px #282828;
	-webkit-box-shadow: inset 0 0 4px #282828;
	align-items: center;
	background-color: wheat;
	box-shadow:         inset 0 0 4px #282828;
	display: flex;
	flex-wrap: wrap;
	height: 520px;
	justify-content: space-around;
	max-width: 520px;
	width: 100%;

}
.puzzle-case {
	align-items: center;
	display: flex;
	justify-content: center;
}
.case-number {
	align-items: center;
	color: #282828;
	display: flex;
	font-size: 36px;
	justify-content: center;
}
.input-form-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}
.form-caption {
	margin-top: 10px;
}
.puzzle-input,
.size-input,
.solvable-input,
.iterations-input {
	border: 1px solid #555;
	box-sizing: border-box;
	color: #282828;
	font-size: 17px;
	margin: 8px 0;
	outline: none;
	padding: 12px 20px;
	max-width: 520px;
	width: 100%;
}
.form-separator {
	margin: 50px 0;
}
.size-input {
	width: 70px;
}
.iterations-input {
	width: 110px;
}
.solvable-input {
	margin-top: 20px;
	width: 100px;
}
.form-caption.section-title {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 20px;
}
.form-generator-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	width: 100%;
}
.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.input-validation,
.generic-button {
	margin-top: 15px;
	color: #282828;
	font-size: 17px;
	background-color: white;
}
.heuristic-input {
	width: 280px;
}
.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.loading-text,
.loading-container,
.stats-container {
	margin-top: 30px;
}
.unsolvable-text {
	margin-top: 30px;
	font-size: 21px;
}
.stats-container {
	max-width: 520px;
	width: 100%;
}
.stats-text {
	margin: 5px 0;
	font-size: 20px;
}
.moves-text {
	font-size: 20px;
	margin-top: 20px;
}
.stat-value {
    float: right;
}