body {
	margin: 0;
}
body * {
	font-family: 'Roboto', sans-serif;
	color: #FF6B55;
	letter-spacing: 0.5px;
}
#root {
	background-image: url('/static/images/order_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 50px;
	height: 100vh;
}
h1 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	margin-bottom: 20px;
}
button {
	background-color: #FF6B55;
	color: white;
	border-radius: 5px;
	padding: 7px 12px;
	border: solid 2px #FF6B55;
	font-size: 17px;
	cursor: pointer;
}
button:hover {
	background-color: white;
	color: #FF6B55;
	border: solid 2px #FF6B55;
}
.main-container {
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
	align-items: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	max-width: 685px;
	padding: 20px;
}
.puzzle-container {
	-moz-box-shadow: inset 0 0 4px #282828;
	-webkit-box-shadow: inset 0 0 4px #282828;
	align-items: center;
	background-color: #e8dac0;
	box-shadow: inset 0 0 4px #282828;
	display: flex;
	flex-wrap: wrap;
	height: 450px;
	justify-content: space-around;
	max-width: 450px;
	width: 100%;

}
.puzzle-case {
	align-items: center;
	display: flex;
	justify-content: center;
}
.case-number {
	align-items: center;
	color: #282828;
	display: flex;
	font-size: 36px;
	justify-content: center;
}
.input-form-container {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.form-caption {
	margin-top: 10px;
	text-align: center;
}
.puzzle-input,
.size-input,
.solvable-input,
.iterations-input {
	border: 1px solid #555;
	box-sizing: border-box;
	color: #282828;
	font-size: 17px;
	margin: 8px 0;
	outline: none;
	padding: 5px 10px;
	max-width: 520px;
	width: 100%;
}
.form-separator {
	margin: 50px 0;
}
.size-input {
	margin-top: 27px;
	width: 60px;
}
.iterations-input {
	width: 90px;
}
.solvable-input {
	margin-top: 27px;
	width: 80px;
}
.form-caption.section-title {
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 20px;
}
.form-generator-container {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.input-validation,
.generic-button {
	margin-top: 15px;
}
.heuristic-input {
	width: 280px;
}
.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.loading-text,
.loading-container,
.stats-container {
	margin-top: 30px;
}
.unsolvable-text {
	margin-top: 30px;
	font-size: 21px;
}
.stats-container {
	max-width: 520px;
	width: 100%;
}
.stats-text {
	margin: 5px 0;
	font-size: 20px;
}
.moves-text {
	font-size: 20px;
	margin-top: 20px;
}
.stat-value {
    float: right;
}
.input-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15px;
    width: 100%;
}
.buttons-container {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
}
.form-generator-container .input-container:first-of-type .form-caption {
	margin-bottom: 50px;
}
@media only screen and (max-width: 480px) {
	.form-generator-container,
	.input-wrapper {
		flex-wrap: wrap;
	}
	#root {
		height: initial;
		padding: 10px;
	}
}
