<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NPuzzle Web</title>
        <link rel="stylesheet" href="/static/css/index.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <h1>NPuzzle Web</h1>
            <div class="puzzle-container">
                {% for case in range(16) %}
                    <div class="puzzle-case" style="width: {{ 100 / size }}%; height: {{ 100 / size }}%;">
                        <div class="case-number">{{ case if case != 0 }}</div>
                    </div>
                {% endfor %}
            </div>
            <form class="params-selection" method="post" action="/solve/">
                <div class="form-caption">Input list of numbers</div>
                <input type="text" name="puzzle" class="puzzle-input">
            </form>
        </div>
    </body>
</html>